:root {
    --light: #E3E7F1;
    --dark: #2B4274;
    --primary: #4B6BB1;
    --primary-hover: #6182ca;
    --grey: #2B427460;  
}

body {
    background-color: var(--light);
    position: relative;
    min-height: 100vh;
    color: var(--dark);
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

.btn-dark {
    --bs-btn-color: var(--light);
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: var(--light);
    --bs-btn-hover-bg: var(--primary-hover);
    --bs-btn-hover-border-color: var(--primary-hover);
    --bs-btn-active-color: var(--light);
    --bs-btn-active-bg: var(--primary-hover);
    --bs-btn-active-border-color: var(--primary-hover);
    --bs-btn-disabled-color: var(--light);
    --bs-btn-disabled-bg: var(--grey);
    --bs-btn-disabled-border-color: var(--grey);
}

.btn-outline-dark {
    --bs-btn-color: var(--primary);
    /* --bs-btn-bg: var(--dark); */
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: var(--light);
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: var(--light);
    --bs-btn-active-bg: var(--dark);
    --bs-btn-active-border-color: var(--dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--grey);
    /* --bs-btn-disabled-bg: var(--grey); */
    --bs-btn-disabled-border-color: var(--grey);
}

.btn {
    border-radius: 50px;
    border-width: 1.5px;
    font-weight: 600;
    min-width: 6rem;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-color: var(--dark);
    border-bottom: 1px solid var(--grey);
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-bar {
    padding: .8rem;
}

.form-control {
    background-color: transparent;
    border: 1px solid var(--dark);
}

.navbar {
    background-color: #E3E7F195;
}

.navbar-nav {
    --bs-nav-link-color: var(--primary);
    --bs-nav-link-hover-color: var(--dark);
    --bs-nav-link-disabled-color: var(--grey);
}

.custom-brand {
    color: var(--dark);
    font-family: "Oranienbaum", serif;
}



main {
    padding: 2rem 0 5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.custom-title {
    margin-bottom: 2rem;
    font-family: "Oranienbaum", serif;
}

/* .custom-nav a {
    color: var(--dark);
} */

/* .btn {
    color: var(--dark);
    border-color: var(--dark);
} */

.custom-table {
    margin-top: 4rem;
    max-height: 35rem;
    /* border: 2px solid red; */
}

.message-not-found {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

.login-form {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 55%;
    margin: 6rem auto;
}

.login-title {
    margin-bottom: 5rem;
    text-align: center;
    font-family: "Oranienbaum", serif;
}

.login-btn {
    margin-top: 5rem;
    display: block;
    justify-self: center;
    width: 100%;
    height: 3rem;
}


.banner {
    
    background-image: url("./images/banner.png"); 
    background-color: var(--light); 
    height: 30rem; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 

}

.banner-content {
    height: 30rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
}

.banner-title {
    font-family: "Oranienbaum", serif;
}

.banner-subtitle {
    opacity: 0.7;
}




